<html>
    <head>
        <title>QOTD &raquo; <g:layoutTitle/></title>
        <g:external dir="css" file="snazzy.css"/>
        <g:layoutHead />
        <r:layoutResources/>
    </head>
    <body>
        <div id="header">
            <g:img dir="images" file="logo.png" alt="logo"/>
        </div>
        <g:layoutBody />
    </body>
</html>